footer {
  background-color: var(--footer-bg-color, #0E0404);
  color: #FFFFFFAA;
  font-size: .9em;
}
footer * {
  transition-duration: 160ms;
}
footer .footer__content {
  min-height: 8vh;
  display: flex;
  gap: .5em;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  padding-block: .5em;
}
footer .footer__links {
  display: flex;
  gap: 1.8em;
}
footer .footer__links a {
  width: 1.2em;
}
footer .footer__links a:hover {
  transform: scale(1.15);
}
footer .footer__links a:hover svg path {
  fill: var(--theme-color, #FF6464);
}
@media (min-width: 610px) {
  footer .footer__content {
    flex-direction: row;
  }
}