@import url(../media/fonts/fonts.css);

*, *::before, *::after {
  margin: 0;
  padding: 0;
  /* outline: 0; */
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
body {
  min-height: 100vh;
  background-color: var(--bg-color, #FFFFFF);
  color: var(--text-color-primary, #000000);
  /* font-family: 'Open sans', sans-serif; */
  /* font-family: 'Work Sans', sans-serif; */
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
*::selection {
  background-color: #84bcff;
}

body .flex-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .flex-body > *:nth-last-child(2) {
  padding-bottom: 6em;
}
body footer {
  margin-top: auto;
}
section {
  padding-top: 2em;
}

a {
  color: inherit;
  display: block;
  text-decoration: none;
}
a:not(.button):hover {
  color: #FF6464;
}
a:not(.button):hover *:not(div) {
  color: #FF6464;
}
.icon {
  width: 2em;
  height: 2em;
}
img, svg {
  width: 100%;
  height: 100%;
}
input {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
}
input::placeholder {
  color: var(--text-color-tertiary, #00000059);
}
button, .button {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}
button.primary, .button.primary,
button.secondary, .button.secondary {
  color: #FFFFFF;
  position: relative;
  border-radius: .7em;
  padding: .7em 1em;
  isolation: isolate;
  overflow: hidden;
}
button.primary::after, a.button.primary::after,
button.secondary::after, a.button.secondary::after {
  content: '';
  width: 100%;
  height: 0%;
  background-color: #0002;
  position: absolute;
  bottom: 0;
  left: 0;
}
button.primary:focus-visible::after, a.button.primary:focus-visible::after,
button.secondary:focus-visible::after, a.button.secondary:focus-visible::after,
button.primary:hover::after, a.button.primary:hover::after,
button.secondary:hover::after, a.button.secondary:hover::after {
  height: 100%;
}
button.secondary, .button.secondary {
  /* font-size: min(1em, 1.18vw); */
  color: var(--text-color-secondary, #000000);
  border: 2px solid #D7D7D7;
}
button.secondary:focus-visible, .button.secondary:focus-visible,
button.secondary:hover, .button.secondary:hover {
  color: #FFFFFF;
}
button.primary::before, .button.primary::before,
button.secondary::before, .button.secondary::before {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FF6464 0%, #AB3838 100%);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
button.secondary::before, .button.secondary::before {
  opacity: 0;
}
button.secondary:focus-visible::before, .button.secondary:focus-visible::before,
button.secondary:hover::before, .button.secondary:hover::before {
  opacity: 1;
}
button.tertiary, a.button.tertiary {
  padding: .4em;
  border-radius: .45em;
}
button.tertiary:focus-visible, a.button.tertiary:focus-visible,
button.tertiary:hover, a.button.tertiary:hover {
  background-color: #FF646488;
}

@media (max-width: 370px) {
  body {
    font-size: .9em;
  }
}
.container {
  max-width: 90%;
  margin-inline: auto;
}
@media (min-width: 450px) {
  .container {
    max-width: 80%;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 77%;
  }
}
@media (min-width: 1050px) {
  .container {
    max-width: 70%;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}