.result-container {
  width: 85%;
  margin-inline-start: auto;
}
.result-container + .result-container {
  padding-top: 2em;
}

.result {
  background-color: #FFFFFF44;
  position: relative;
  border: 1px solid #D7D7D7;
  border-block-start-width: 7px;
  border-radius: .4em;
  padding: .8em min(2em, 4vw);
}
.result .ratings,
.result .ratings *,
.result .result__stats,
.result .result__stats *,
.result .bookmark,
.result .bookmark * {
  transition: all 800ms ease-out;
}
.result .ratings *:hover,
.result .result__stats *:hover,
.result .bookmark:hover,
.result .bookmark *:hover {
  transition: all 500ms cubic-bezier(0,1.08,0,1.01);
}

.result .ratings {
  display: flex;
  flex-direction: column;
  gap: .5em;
  align-items: center;
  position: absolute;
  top: 50%;
  left: min(-11%, -3em);
  transform: translateY(-50%);
}
.result button {
  background-color: transparent;
  display: flex;
}
.result .vote {
  width: 2em;
}
.result .vote:hover {
  transform: scale(1.1);
}
.result .vote:hover path {
  fill: var(--text-color-ratings-hover, #CFCFCF);
}
.result .vote__amount {
  color: var(--text-color-ratings, #707070);
}

.result .result__card {
  position: relative;
}
.result .result__heading {
  display: flex;
  gap: .3em;
  flex-direction: column-reverse;
  /* align-items: center; */
  padding-block-end: 1em;
}
.result .source-icon {
  width: fit-content;
  height: 2em;
  border: 2px solid var(--source-border-color, #0000001F);
  display: flex;
  padding: .2em;
  border-radius: .4em;
}
.result .source-icon img {
  object-fit: contain;
}
.result p {
  font-size: .9em;
  padding-block-end: .7em;
}
.result .result__owner {
  padding-block-end: 2em;
}
.result .result__owner a {
  width: fit-content;
  display: flex;
  align-items: center;
}
.result .result__owner__avatar {
  width: 2em;
  height: 2em;
  background-color: #FF6464;
  color: #FFFFFF;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.result .result__stats {
  font-size: .8em;
  display: flex;
  gap: .2em;
  align-items: center;
}
.result .result__stats > * {
  display: flex;
  align-items: center;
}
.result .result__stats > * span {
  display: flex;
  align-items: center;
}
.result .result__stats > .result__stats__share {
  display: none;
}
.result .result__stats > .result__stats__more {
  position: absolute;
  top: 0%;
  right: -1em;
}
.result .result__stats > .result__stats__share,
.result .result__stats > .result__stats__more {
  margin-left: auto;
}
.result .result__stats > * span svg {
  min-width: 1.5em;
}
.result button.result__stats__likes:hover #likesShadowInner {
  flood-opacity: 1;
}
.result .bookmark {
  width: 2em;
  position: absolute;
  display: none;
}
@media (min-width: 500px) {
  .result-container {
    width: 90%;
  }
}
@media (min-width: 520px) {
  .result .result__stats > .result__stats__more {
    display: flex;
    position: static;
  }
}
@media (min-width: 570px) {
  .result .result__stats > .result__stats__share {
    display: flex;
  }
  .result .result__stats > .result__stats__more {
    margin-left: 0;
  }
  .result .bookmark {
    display: flex;
    top: 0%;
    right: -1em;
  }
}
@media (min-width: 650px) {
  .result .result__stats > .result__stats__share {
    margin-left: 0;
  }
  .result .bookmark {
    top: auto;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 800px) {
  .result-container {
    width: 100%;
  }
  .result .ratings {
    left: -8%;
  }
  .result .result__heading {
    gap: 1em;
    flex-direction: row;
    align-items: center;
  }
  .result .result__stats {
    gap: 1.5em;
  }
}